{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="contaner">
    <div class="row my-3">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="h3">Sign Up</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST" onsubmit="return validate()">
                        {% csrf_token %}
                        <div class="mb-1">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control">
                            <label for="name error" id="fname_error" class="text-danger"></label>
                        </div>
                        <div class="mb-1">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control">
                            <label for="name error" id="lname_error" class="text-danger"></label>
                        </div>
                        <div class="mb-1">
                            <label for="username">SIC Number</label>
                            <input type="text" name="username" id="username" class="form-control">
                            <label for="sic error" id="sic_error" class="text-danger"></label>
                        </div>
                        <div class="mb-1">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" class="form-control">
                            <label for="email error" id="email_error" class="text-danger"></label>
                        </div>
                        <div class="mb-1">
                            <label for="password">Passowrd</label>
                            <input type="text" name="password" id="password" class="form-control">
                            <label for="password error" id="password_error" class="text-danger"></label>
                        </div>
                        <div class="mb-1">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="text" name="confirm_password" id="confirm_password" class="form-control">
                            <label for="confirm password error" id="confirm_password_error" class="text-danger"></label>
                        </div>
                        <input type="submit" value="Sign Up" id="submit"class="btn btn-primary w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/signup_validate.js'%}"></script>
{% endblock extrajs %}

